<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Список задач:</h1>
<table border="1">
    <thead>
    <tr>
        <th>Идентификатор</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Исполнитель</th>
        <th>Описание</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="tasks" type="java.util.List<com.geekbrains.training.lesson11.entities.Task>"*/-->
    <tr th:each="s : ${tasks}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.author.userName}"></td>
        <td th:text="${s.executor.userName}"></td>
        <td th:text="${s.description}"></td>
        <td th:text="${s.status}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/tasks/add}">Создать новую задачу</a>
</body>
</html>