<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Создание новой задачи</h1>
<form th:action="@{/saveTask}" th:object="${task}" method="POST">
    <table>
        <tr>
            <td>Идентификатор</td>
            <td><input th:field="*{id}" /></td>
        </tr>
        <tr>
            <td>Название</td>
            <td><input th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Автор</td>
            <td>
                <select th:field="*{author}">
                    <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}" />
                </select>
            </td>
        </tr>
        <tr>
            <td>Исполнитель</td>
            <td>
                <select th:field="*{executor}">
                    <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}" />
                </select>
            </td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><input th:field="*{description}" /></td>
        </tr>
    </table>
    <input type="submit" value="Создать"/>
</form>
<br>
<br>
<a th:href="@{/show}">Вернуться к списку задач</a>
</body>
</html>